/* Topbar setting icon css */

.top-setting-main
{
  position: relative;
}
.top-icon i {
  vertical-align: middle;
}
.top-icon {
    color: #fff;
    position: absolute;
    margin: 0px 1rem;
    font-size: 26px;
}
.os-dropdown 
{
    background-color: #047bf8;
    color: #fff;
    padding: 20px 15px;
    position: absolute;
    z-index: 999;
    bottom: 5px;
    right: 0%;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(100%, 110%, 0);
    transform: translate3d(100%, 110%, 0);
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    box-shadow: 0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    overflow: hidden;
    font-size: 0.9rem;
    text-align: left;
}