<template>
    
    <div class="top-setting-main">
        <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-right">
            <i class="os-icon os-icon-ui-46"></i>
            <div class="os-dropdown">
                <div class="icon-w">
                    <i class="os-icon os-icon-ui-46"></i>
                </div>
                <ul>
                    <li>
                        <a href="#"><i class="os-icon os-icon-ui-49"></i>
                        <span>Profile Settings</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="os-icon os-icon-grid-10"></i>
                        <span>Billing Info</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="os-icon os-icon-ui-44"></i>
                        <span>My Invoices</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="os-icon os-icon-ui-15"></i>
                        <span>Cancel Account</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name:'topbar-setting'
}
</script>

<style>
@import './topbar-setting.css';
</style>


