.img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
  }
  
  .figure {
    display: inline-block;
  }
  
  .figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  
  .figure-caption {
    font-size: 90%;
    color: #636c72;
  }
  /* 8. Menu styles */
/*
  STYLE NAVIGATION
  
#1. Logged User Box
#2. Shared styles between Top Bar & Main Menu
#3. Desktop Menu
#4. Mobile Menu

*/
/* 
#1. Logged User Box
*/
.logged-user-w {
    text-align: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .logged-user-w .avatar-w {
    padding: 5px;
    border: 1px solid #262626;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }
  
  .logged-user-w .avatar-w img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
  
  .logged-user-w .logged-user-role {
    display: block;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
  }
  
  .logged-user-w .logged-user-toggler-arrow {
    padding: 3px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }
  
  .logged-user-w.avatar-inline {
    text-align: left;
    position: relative;
  }
  
  .logged-user-w.avatar-inline .logged-user-i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0.7rem;
  }
  
  .logged-user-w.avatar-inline .logged-user-i .logged-user-info-w {
    padding-left: 20px;
    text-align: left;
  }
  
  .logged-user-w.avatar-inline .logged-user-toggler-arrow {
    padding: 3px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }
  
  .logged-user-w.avatar-inline .logged-user-avatar-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .logged-user-w.avatar-inline .logged-user-avatar-info .logged-user-info-w {
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
  }