/* Menu CSS */

/* 7. Layout styles */
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding: 50px;
  overflow-x: hidden;
}

body:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#D7BBEA), to(#65A8F1));
  background: linear-gradient(to bottom right, #D7BBEA, #65A8F1);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

body.full-screen {
  padding: 0px;
}

body.full-screen .all-wrapper {
  max-width: initial;
  border-radius: 0px;
}

body.full-screen .all-wrapper > .top-bar {
  border-radius: 0px;
}

body.full-screen .menu-w,
body.full-screen .top-bar {
  border-radius: 0px !important;
}

body.full-screen .menu-position-side .logged-user-menu {
  left: 0px;
  right: -1px;
  border-radius: 0px;
}

b,
strong {
  font-weight: 500;
}

.all-wrapper {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-width: 1600px;
  margin: 0px auto;
  position: relative;
  min-height: 100%;
}

.all-wrapper.with-pattern {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  background-image: url("../img/bg-pattern2.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: 0 0;
}

.all-wrapper.no-padding-content .content-box {
  padding: 0px;
}

.all-wrapper.white-bg-content .content-w {
  background-color: #fff;
  background-image: none;
}

.all-wrapper.solid-bg-all {
  background-color: #f2f4f8;
}

.all-wrapper.solid-bg-all .content-w {
  background-image: none;
}

.auth-wrapper .all-wrapper {
  padding: 100px;
}

.section-heading {
  padding: 5% 10%;
  font-size: 1.26rem;
  color: rgba(0, 0, 0, 0.5);
}

.section-heading.centered {
  text-align: center;
}

.section-heading h1 {
  position: relative;
  margin-bottom: 40px;
}

.section-heading h1:after {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  background-color: #047bf8;
  height: 5px;
  width: 40px;
  border-radius: 6px;
}

/* Layout settings based on menu position */
/* MENU ON A SIDE */
body.menu-position-side .layout-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.menu-position-side .content-w {
  border-radius: 0px 6px 6px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* MENU ON TOP */
body.menu-position-top .content-w {
  border-radius: 0px 0px 6px 6px;
}

body.menu-position-top .top-bar + .layout-w .menu-w {
  border-radius: 0px;
}

body.menu-side-right .layout-w {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content-w {
  background-color: #f2f4f8;
  background-image: url("../img/bg-pattern.png");
  background-repeat: no-repeat;
  background-position: 20px 50px;
  vertical-align: top;
}

.content-box {
  vertical-align: top;
  padding: 2rem 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-box > .element-wrapper:first-child {
  padding-top: 0px !important;
}

.content-panel {
  vertical-align: top;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem 2.5rem;
  background-color: transparent;
}

.content-panel.compact {
  padding: 2rem 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.content-panel .content-panel-close {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #047bf8;
  z-index: 999;
  cursor: pointer;
}

.content-panel.color-scheme-dark {
  background-color: #2d3756;
}

.content-panel-toggler {
  background-color: #047bf8;
  padding: 4px 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 0.72rem;
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 4;
  cursor: pointer;
}

.content-panel-toggler:hover {
  background-color: #1a88fb;
}

.content-panel-toggler i {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.content-panel-toggler span {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}

/*
 SIDE PANEL IS ACTIVE - ADD STYLES
*/
.with-side-panel .content-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.with-side-panel .menu-mobile .mm-logo-buttons-w .content-panel-open {
  display: block;
}

/* ICONS LIST FOR DEMO */
.demo-icons-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.demo-icons-list li {
  width: 80px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  padding: 20px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.demo-icons-list li a {
  position: relative;
  color: #333;
}

.demo-icons-list li a i {
  font-style: normal;
}

.demo-icons-list li a span {
  display: inline-block;
  position: absolute;
  background-color: #047bf8;
  color: #fff;
  padding: 4px 7px;
  border-radius: 4px;
  font-size: 0.81rem;
  white-space: nowrap;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.demo-icons-list li a:hover {
  text-decoration: none;
}

.demo-icons-list li a:hover span {
  display: block;
}