body.full-screen .all-wrapper > .top-bar {
    border-radius: 0px;
  }
  body.full-screen .top-bar {
    border-radius: 0px !important;
  }
  body.menu-position-top .top-bar + .layout-w .menu-w {
    border-radius: 0px;
  }
  .top-bar .logo-w {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .top-bar .logo-w .filters-toggler {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
  }
  .top-bar .logo-w .filters-toggler .os-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .top-bar .logo-w .filters-toggler:hover {
    color: #fff;
  }
  .top-bar .logo-w .logo {
    display: inline-block;
    text-decoration: none;
  }
  .top-bar .logo-w .logo-element {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 15px;
    position: relative;
    background-color: #98c9fd;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top-bar .logo-w .logo-element:after {
    content: "";
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 15px;
    right: -20px;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top-bar .logo-w .logo:hover .logo-element {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  .top-bar .logo-w .logo:hover .logo-element:after {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .top-bar .logo-w .logo:hover .logo-label:after {
    width: 100%;
    background-color: #fff;
  }
  .top-bar .logo-w .logo-label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.81rem;
    position: relative;
    margin-left: 10px;
  }
  .top-bar .logo-w .logo-label:after {
    height: 2px;
    position: absolute;
    width: 0%;
    left: 0px;
    bottom: -5px;
    background-color: #fff;
    content: "";
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .menu-position-side.menu-side-right .top-bar {
    border-radius: 6px 0px 0px 0px;
  }
  .top-bar-rentals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .top-bar-rentals .logo-w {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    background-color: #4472fd;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-bar-rentals .logo-w .filters-toggler {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
  }
  
.top-bar-rentals .logo-w .filters-toggler .os-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  
  .top-bar-rentals .logo-w .filters-toggler:hover {
    color: #fff;
  }
  .top-bar-rentals .logo-w .logo {
    display: inline-block;
    text-decoration: none;
  }
  .top-bar-rentals .logo-w .logo-element {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 15px;
    position: relative;
    background-color: #98c9fd;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top-bar-rentals .logo-w .logo-element:after {
    content: "";
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 15px;
    right: -20px;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .top-bar-rentals .logo-w .logo:hover .logo-element {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  .top-bar-rentals .logo-w .logo:hover .logo-element:after {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .top-bar-rentals .logo-w .logo:hover .logo-label:after {
    width: 100%;
    background-color: #fff;
  }
  .top-bar-rentals .logo-w .logo-label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.08rem;
    position: relative;
  }
  
.top-bar-rentals .logo-w .logo-label:after {
    height: 2px;
    position: absolute;
    width: 0%;
    left: 0px;
    bottom: -5px;
    background-color: #fff;
    content: "";
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .top-bar-rentals .filters {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #24293d;
    padding: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .top-bar-rentals .filters .filters-header {
    padding-right: 20px;
  }
  
  .top-bar-rentals .filters .filters-header h4 {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0px;
  }
  
  .top-bar-rentals .filters .filter-w {
    padding: 15px 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .top-bar-rentals .filters .filter-w label {
    font-size: 0.72rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    margin-right: 10px;
  }
  
  .top-bar-rentals .filters .filter-w input.form-control {
    background-color: #040407;
    border-color: #040407;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .top-bar-rentals .filters .filter-w input.form-control.zip-width {
    width: 70px;
    padding-left: 5px;
  }
  
  .top-bar-rentals .filters .filter-w input.form-control.date-range-picker {
    width: 250px;
    padding-left: 5px;
  }
  
  .top-bar-rentals .filters .filter-w .input-group-prepend, .top-bar-rentals .filters .filter-w .input-group-text {
    background-color: #040407;
    border-color: #040407;
    color: #4472fd;
    font-size: 20px;
  }
  
  .top-bar-rentals .filters .buttons-w .btn, .top-bar-rentals .filters .buttons-w .all-wrapper .fc-button, .all-wrapper .top-bar-rentals .filters .buttons-w .fc-button {
    font-size: 0.81rem;
  }
  
  .top-bar-rentals .filters .buttons-w .btn i.os-icon, .top-bar-rentals .filters .buttons-w .all-wrapper .fc-button i.os-icon, .all-wrapper .top-bar-rentals .filters .buttons-w .fc-button i.os-icon {
    margin: 0px;
  }
  
  .top-bar-rentals .filters .buttons-w .btn i.os-icon + span, .top-bar-rentals .filters .buttons-w .all-wrapper .fc-button i.os-icon + span, .all-wrapper .top-bar-rentals .filters .buttons-w .fc-button i.os-icon + span {
    margin: 0px;
    margin-left: 10px;
  }
  
  .top-bar-rentals .filters .buttons-w .btn span + i.os-icon, .top-bar-rentals .filters .buttons-w .all-wrapper .fc-button span + i.os-icon, .all-wrapper .top-bar-rentals .filters .buttons-w .fc-button span + i.os-icon {
    margin: 0px;
    margin-left: 10px;
  }
  .all-wrapper > .top-bar {
    border-radius: 6px 6px 0px 0px;
  }
  
  .content-w > .top-bar {
    padding-left: 0px;
  }
  
  .top-bar {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
            box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    padding: 0px 20px 0px 0px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border-radius: 0px 6px 0px 0px;
  }
  
  .top-bar > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: #3E4B5B;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 0.99rem;
  }
  
  .top-bar > ul li {
    display: inline-block;
  }
  
  .top-bar > ul li a {
    display: inline-block;
    padding: 20px 25px;
    color: rgba(0, 0, 0, 0.25);
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .top-bar > ul li a:after {
    content: "";
    background-color: #047bf8;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0px;
    height: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .top-bar > ul li.active a, .top-bar > ul li:hover a {
    color: #3E4B5B;
    text-decoration: none;
  }
  
  .top-bar > ul li.active a:after, .top-bar > ul li:hover a:after {
    width: 100%;
  }
  
  .top-bar .fancy-selector-w {
    margin-right: auto;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  
  .top-bar .logo-w.menu-size + .fancy-selector-w {
    margin-left: 0px;
  }
  
  .top-bar .logo-w {
    text-align: left;
  }
  
  .top-bar .logo-w a {
    display: inline-block;
  }
  
  .top-bar .logo-w img {
    height: 25px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  .top-bar .logo-w span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .top-bar .logo-w img + span {
    margin-left: 20px;
    color: #3E4B5B;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.81rem;
    font-weight: 500;
  }
  
  .top-bar .logo-w.menu-size {
    width: 260px;
  }
  
  .top-bar .top-menu-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    padding: 7px 0px;
  }
  
  .top-bar .top-menu-controls .element-search {
    position: relative;
    margin: 0px 1rem;
  }
  
  .top-bar .top-menu-controls .element-search:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'osfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 16px;
    content: "\e92c";
    color: rgba(0, 0, 0, 0.4);
  }
  
  .top-bar .top-menu-controls .element-search input {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 15px 8px 40px;
    display: block;
    width: 220px;
    outline: none;
    border: none;
    box-shadow: none;
    background: #eee;
  }
  
  .top-bar .top-menu-controls .element-search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .top-bar .top-menu-controls .element-search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .top-bar .top-menu-controls .element-search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .top-bar .top-menu-controls .element-search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .top-bar .messages-notifications {
    margin: 0px 1rem;
    position: relative;
    font-size: 24px;
    color: #047bf8;
  }
  
  .top-bar .messages-notifications .new-messages-count {
    background-color: #e65252;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    right: -12px;
    padding: 4px 4px;
    vertical-align: middle;
    font-size: 0.72rem;
    line-height: 1;
  }
  
  .top-bar .messages-notifications i {
    vertical-align: middle;
  }
  
  .top-bar .top-icon {
    margin: 0px 1rem;
    color: #047bf8;
    font-size: 26px;
  }
  
  .top-bar .top-icon i {
    vertical-align: middle;
  }
  
  .top-bar .logged-user-w {
    position: relative;
    padding: 0px 1rem;
    border-bottom: none;
  }
  
  .top-bar .logged-user-w .avatar-w {
    padding: 0px;
    border: none;
    vertical-align: middle;
  }
  
  .top-bar .logged-user-w .avatar-w img {
    width: 40px;
  }
  
  .top-bar .logged-user-w .logged-user-i {
    display: inline-block;
  }
  
  .top-bar .logged-user-w .logged-user-i:hover {
    cursor: pointer;
  }
  
  .top-bar .logged-user-w .logged-user-i:hover .logged-user-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .top-bar .logged-user-w .logged-user-menu {
    background: #1b55e2;
    -webkit-box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
            box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
    position: absolute;
    top: -10px;
    right: -20px;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    border-radius: 6px;
  }
  
  .top-bar .logged-user-w .logged-user-menu .logged-user-avatar-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 10px;
    padding: 0px 30px 10px 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .top-bar .logged-user-w .logged-user-menu .avatar-w {
    border-color: #fff;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .top-bar .logged-user-w .logged-user-menu .logged-user-info-w {
    vertical-align: middle;
  }
  
  .top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name {
    color: #fff;
    white-space: nowrap;
  }
  
  .top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role {
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0px;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a i {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a span {
    vertical-align: middle;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a:hover {
    text-decoration: none;
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a:hover i {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li a:hover span {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  
  .top-bar .logged-user-w .logged-user-menu ul li:last-child {
    border-bottom: none;
  }
  
  .top-bar .logged-user-w .logged-user-menu .bg-icon {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -40px;
    right: -20px;
  }
  
  .top-bar.color-scheme-transparent {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .top-bar.color-scheme-light .top-menu-controls .element-search input, .top-bar.color-scheme-transparent .top-menu-controls .element-search input {
    background-color: rgba(121, 138, 185, 0.07);
  }
  
  .top-bar.color-scheme-light .logo-w .logo-label, .top-bar.color-scheme-transparent .logo-w .logo-label {
    color: #3E4B5B;
  }
  
  .top-bar.color-scheme-light .logo-w .logo-element, .top-bar.color-scheme-transparent .logo-w .logo-element {
    background-color: #0a7cf8;
  }
  
  .top-bar.color-scheme-light .logo-w .logo-element:after, .top-bar.color-scheme-transparent .logo-w .logo-element:after {
    background-color: #bfd6f9;
  }
  
  .top-bar.color-scheme-light .logo-w .logo:hover .logo-label, .top-bar.color-scheme-transparent .logo-w .logo:hover .logo-label {
    color: #047bf8;
  }
  
  .top-bar.color-scheme-light .logo-w .logo:hover .logo-label:after, .top-bar.color-scheme-transparent .logo-w .logo:hover .logo-label:after {
    background-color: #047bf8;
  }
  
  .top-bar.color-scheme-dark, .top-bar.color-scheme-bright {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search input, .top-bar.color-scheme-bright .top-menu-controls .element-search input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search input::-webkit-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search input:-ms-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search input::-ms-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search input::placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .top-bar.color-scheme-dark .top-menu-controls .element-search:before, .top-bar.color-scheme-bright .top-menu-controls .element-search:before {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .top-bar.color-scheme-dark .messages-notifications,
  .top-bar.color-scheme-dark .top-icon, .top-bar.color-scheme-bright .messages-notifications,
  .top-bar.color-scheme-bright .top-icon {
    color: #fff;
  }
  
  .top-bar.color-scheme-dark > ul li a, .top-bar.color-scheme-bright > ul li a {
    color: rgba(255, 255, 255, 0.4);
  }
  
  .top-bar.color-scheme-dark > ul li a:after, .top-bar.color-scheme-bright > ul li a:after {
    background-color: #FBB463;
    border-color: #FBB463;
  }
  
  .top-bar.color-scheme-dark > ul li.active a, .top-bar.color-scheme-dark > ul li:hover a, .top-bar.color-scheme-bright > ul li.active a, .top-bar.color-scheme-bright > ul li:hover a {
    color: #fff;
  }
  
  .top-bar.color-scheme-dark .logo-w img + span, .top-bar.color-scheme-bright .logo-w img + span {
    color: #fff;
  }
  
  .top-bar.color-scheme-dark .fancy-selector-w .fancy-selector-current .fs-selector-trigger, .top-bar.color-scheme-bright .fancy-selector-w .fancy-selector-current .fs-selector-trigger {
    background-color: #3572ed;
  }
  
  .top-bar.color-scheme-dark {
    background-color: #323c58;
  }
  
  .top-bar.color-scheme-bright {
    background-color: #1b55e2;
  }
  body.color-scheme-dark .top-bar, .content-panel.color-scheme-dark .top-bar {
    -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
            box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
  }
  body.color-scheme-dark .top-bar .logged-user-w .logged-user-menu, .content-panel.color-scheme-dark .os-dropdown,
.content-panel.color-scheme-dark .top-bar .logged-user-w .logged-user-menu {
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
          box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}
body.color-scheme-dark .top-bar.color-scheme-transparent, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom-color: rgba(255, 255, 255, 0.05);
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .logo-w .logo-label, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .logo-w .logo-label {
    color: #fff;
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search:before, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search:before {
    color: rgba(255, 255, 255, 0.4);
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::-webkit-input-placeholder, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input:-ms-input-placeholder, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::-ms-input-placeholder, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  
  body.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::placeholder, .content-panel.color-scheme-dark .top-bar.color-scheme-transparent .top-menu-controls .element-search input::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  @media (max-width: 1350px) {
    .top-bar .fs-extra-info {
      display: none;
    }
    .menu-side-w .logo-w {
      padding: 1.5rem 1rem;
    }
    .menu-top-w .menu-top-i .logo-w {
      padding: 0rem 1rem;
      width: 50px;
    }
    .menu-top-w .menu-top-i ul.main-menu {
      padding-left: 0px;
    }
    .support-index .support-tickets {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 390px;
              flex: 0 0 390px;
    }
  }
  /* #9.  Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .top-bar .logo-w {
      display: none;
    }
    .top-bar .fs-extra-info {
      display: none;
    }
    .element-wrapper {
      padding-bottom: 2rem;
    }
    .element-balances {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    .full-chat-w .full-chat-right {
      display: none;
    }
    .full-chat-w .chat-content-w .chat-content {
      padding: 30px;
    }
    .top-bar {
      padding: 0px;
    }
    .top-bar > ul {
      white-space: nowrap;
    }
    .top-bar > ul li a {
      padding: 15px 10px;
      margin: 0px 10px;
    }
    .top-bar.with-overflow {
      overflow: visible;
    }
    .nav.upper.nav-tabs .nav-link {
      margin-right: 0.7rem;
      padding-bottom: 10px;
      font-size: 0.72rem;
    }
    .display-type {
      content: "tablet";
    }
    .content-box {
      padding: 1.5rem;
    }
    .padded {
      padding: 0.3rem 0.8rem;
    }
    .element-box, .invoice-w, .big-error-w, .invoice-w, .big-error-w {
      padding: 1rem 1rem;
    }
    .element-box .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls {
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .layout-w {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .menu-mobile {
      width: 70px;
      display: table-cell;
    }
    .menu-mobile .menu-and-user {
      display: block;
    }
    .menu-mobile ul.sub-menu {
      padding: 1rem 1.5rem;
    }
    .menu-mobile .mobile-menu-magic {
      display: none;
    }
    .menu-mobile .logged-user-w {
      padding: 1rem;
      text-align: center;
    }
    .menu-mobile .logged-user-w .avatar-w img {
      width: 35px;
    }
    .menu-mobile .logged-user-w .logged-user-info-w {
      display: none;
    }
    .menu-mobile ul.main-menu {
      padding: 1rem 0px;
    }
    .menu-mobile ul.main-menu > li.has-sub-menu > a:before {
      display: none;
    }
    .menu-mobile .mm-logo-buttons-w {
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .menu-mobile .mm-logo-buttons-w .mm-buttons {
      display: none;
    }
    .menu-mobile .mm-logo-buttons-w .mm-logo {
      display: block;
      text-align: center;
    }
    .menu-mobile .mm-logo-buttons-w .mm-logo span {
      display: none;
    }
    .menu-mobile.color-scheme-dark ul.main-menu > li > a > span {
      color: rgba(255, 255, 255, 0.2);
    }
    .menu-mobile.color-scheme-dark ul.sub-menu {
      background-color: #323c58;
    }
    .menu-mobile.color-scheme-dark ul.sub-menu:before {
      border-right-color: #203c9b;
    }
    .menu-mobile ul.main-menu > li > a > span {
      position: absolute;
      top: 10px;
      left: 90px;
      color: rgba(0, 0, 0, 0.2);
      font-size: 1.53rem;
      font-weight: 500;
      display: none;
      white-space: nowrap;
      z-index: 1000;
      padding: 0px;
    }
    .menu-mobile ul.main-menu li {
      position: relative;
    }
    .menu-mobile ul.main-menu > li .icon-w {
      padding: 20px 5px;
    }
    .menu-mobile ul.sub-menu {
      position: absolute;
      top: 0px;
      left: 70px;
      background-color: #fff;
      min-width: 220px;
      z-index: 999;
      list-style: none;
      padding: 20px 15px;
      padding-top: 50px;
      -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    }
    .menu-mobile ul.sub-menu li {
      padding: 10px 10px;
    }
    .menu-mobile .main-menu li > a:hover > span {
      display: block;
    }
    .menu-mobile .has-sub-menu.active .icon-w {
      color: #3E4B5B;
    }
    .menu-mobile .has-sub-menu.active .sub-menu {
      display: block;
    }
    .user-profile .up-header {
      font-size: 2.5rem;
    }
    .user-profile .up-sub-header {
      font-size: 1rem;
    }
    .todo-app-w .todo-sidebar {
      padding: 30px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 280px;
              flex: 0 0 280px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section {
      padding: 10px;
    }
    .todo-app-w .todo-content {
      padding: 30px;
    }
  }
  /* #11. Phones (< 767px) */
@media (max-width: 767px) {
    .layout-w {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .floated-customizer-btn {
      display: none;
    }
    .onboarding-modal .onboarding-content.with-gradient {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 50px;
    }
    .onboarding-modal .onboarding-content .onboarding-text {
      font-size: 0.9rem;
      padding-left: 0px;
      padding-right: 0px;
    }
    .onboarding-modal .onboarding-slide .onboarding-side-by-side .onboarding-media {
      padding-bottom: 0px;
    }
    .onboarding-modal .onboarding-slide .onboarding-side-by-side .onboarding-content.with-gradient {
      padding-bottom: 70px;
    }
    .onboarding-modal .onboarding-side-by-side {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .onboarding-modal .onboarding-side-by-side .onboarding-media {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding-bottom: 0px;
      padding-top: 20px;
    }
    .onboarding-modal .onboarding-side-by-side .onboarding-content.with-gradient {
      background-image: url(../img/onboarding-gradient-hor.png);
      background-position: top center;
      padding: 40px 20px;
    }
    .hidden-mobile {
      display: none !important;
    }
    .support-index .st-foot {
      padding: 10px 10px;
    }
    .support-index .support-ticket + .support-ticket {
      margin-top: 15px;
    }
    .top-bar .logo-w {
      display: none;
    }
    .top-bar.with-overflow {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
    .top-bar.with-overflow .top-menu-controls {
      display: none;
    }
    .top-bar .fs-extra-info {
      display: none;
    }
    .element-balances {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .element-balances .balance {
      border: none !important;
    }
    .cell-with-media {
      text-align: center;
    }
    .cell-with-media img {
      margin-bottom: 5px;
    }
    .cell-with-media img + span {
      margin-left: 0px !important;
    }
    .element-wrapper .element-actions {
      float: none;
      margin-bottom: 20px;
    }
    .element-wrapper .element-actions.actions-only {
      float: right;
      margin-bottom: 0;
    }
    .el-tablo.smaller .value {
      font-size: 1.26rem;
      margin-top: 3px;
    }
    .todo-app-w {
      display: block;
    }
    .todo-app-w .todo-sidebar {
      padding: 30px 15px 20px 40px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section {
      padding: 10px 0px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-toggle {
      left: -22px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-header {
      font-size: 1.25rem;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-sub-section, .todo-app-w .todo-sidebar ul.projects-list {
      padding-left: 10px;
    }
    .todo-app-w .todo-content {
      padding: 30px 20px;
    }
    .todo-app-w .todo-content .todo-content-header {
      font-size: 1.25rem;
    }
    .todo-app-w .todo-content .all-tasks-w {
      padding-top: 0px;
      padding-right: 0px;
    }
    .todo-app-w .todo-content .tasks-list li.draggable-task {
      padding-right: 10px;
    }
    .full-chat-w .full-chat-i {
      display: block;
    }
    .projects-list .project-head {
      padding: 20px 30px;
      display: block;
      text-align: center;
    }
    .projects-list .project-head .project-users {
      text-align: center;
      margin-top: 2rem;
    }
    .projects-list .project-info {
      padding: 20px 30px;
    }
    .projects-list .project-info .el-tablo {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .display-type {
      content: "phone";
    }
    .ae-list-w {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 230px;
              flex: 1 1 230px;
    }
    .ae-content-w {
      display: none;
    }
    .top-bar {
      padding: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .top-bar .fancy-selector-w {
      width: 100%;
    }
    .top-bar .fancy-selector-w .fancy-selector-current {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .top-bar .fancy-selector-w .fancy-selector-current .fs-selector-trigger {
      margin-left: auto;
    }
    .top-bar > ul {
      white-space: nowrap;
    }
    .top-bar > ul li a {
      padding: 15px 10px;
      margin: 0px 10px;
    }
    .top-bar.with-overflow {
      overflow: visible;
    }
    .nav.upper.nav-tabs .nav-link {
      margin-right: 0.7rem;
      padding-bottom: 10px;
      font-size: 0.72rem;
    }
    .app-email-w.forse-show-content .ae-content-w {
      display: block;
    }
    .app-email-w.forse-show-content .ae-list-w {
      display: none;
    }
    .aec-full-message-w .message-content {
      padding: 15px;
    }
    .aec-full-message-w .message-attachments {
      text-align: center;
    }
    .aec-full-message-w .message-head .user-w .user-role span {
      margin-left: 0;
    }
    .aec-reply {
      padding: 15px;
    }
    .aec-reply .reply-header {
      padding-bottom: 15px;
      padding-top: 15px;
      text-align: center;
    }
    .aec-reply .buttons-w {
      display: block;
      text-align: center;
    }
    .aec-reply .buttons-w .btn, .aec-reply .buttons-w .all-wrapper .fc-button, .all-wrapper .aec-reply .buttons-w .fc-button {
      margin-bottom: 10px;
    }
    .floated-chat-btn i + span {
      display: none;
    }
    .floated-chat-btn {
      padding: 10px 12px;
    }
    .floated-colors-btn {
      padding: 10px 12px;
    }
    .floated-colors-btn.second-floated-btn {
      right: auto;
      left: 10px;
    }
    .floated-colors-btn span + span {
      display: none;
    }
    .padded {
      padding: 1rem;
    }
    .user-profile .up-head-w .up-social {
      top: 5px;
      right: 10px;
    }
    .user-profile .up-head-w .up-social a {
      font-size: 24px;
    }
    .user-profile .up-main-info {
      padding-bottom: 10%;
    }
    .user-profile .up-header {
      font-size: 1.75rem;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
    .user-profile .up-sub-header {
      font-size: 1rem;
    }
    .user-profile .up-controls {
      text-align: center;
    }
    .user-profile .up-controls .value-pair {
      margin-bottom: 1rem;
    }
    .user-profile .up-controls .text-right {
      text-align: center !important;
    }
    .timed-activities {
      padding: 0;
    }
    .timed-activity {
      display: block;
      font-size: 0.9rem;
    }
    .timed-activity .ta-date {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-bottom: 3rem;
      text-align: left;
    }
    .timed-activity .ta-date span:after {
      -webkit-transform: none;
              transform: none;
      left: 0px;
    }
    .timed-activity .ta-record-w {
      padding-left: 0px;
    }
    .timed-activity .ta-record {
      display: block;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .timed-activity .ta-activity {
      font-size: 0.81rem;
    }
    .post-box {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .post-box .post-media {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      padding-bottom: 60%;
    }
    .post-box .post-content {
      padding: 20px 15px;
    }
    .content-panel-toggler {
      display: none;
    }
    .menu-mobile {
      display: block;
    }
    .element-info .element-search {
      margin-top: 1rem;
    }
    .element-box .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls, .invoice-w .os-tabs-controls, .big-error-w .os-tabs-controls {
      display: block;
      margin-left: -1rem;
      margin-right: -1rem;
    }
    .element-box .os-tabs-controls .nav + .nav, .invoice-w .os-tabs-controls .nav + .nav, .big-error-w .os-tabs-controls .nav + .nav, .invoice-w .os-tabs-controls .nav + .nav, .big-error-w .os-tabs-controls .nav + .nav {
      margin-top: 1rem;
    }
    .element-box.el-tablo, .el-tablo.invoice-w, .el-tablo.big-error-w {
      text-align: center;
    }
    .invoice-w .infos {
      display: block;
    }
    .invoice-w .infos .info-2 {
      text-align: left;
      padding-top: 30px;
    }
    .invoice-heading {
      margin-bottom: 2rem;
      margin-top: 4rem;
    }
    .invoice-body {
      display: block;
    }
    .invoice-body .invoice-desc {
      margin-bottom: 2rem;
    }
    .invoice-footer {
      display: block;
      text-align: center;
    }
    .invoice-footer .invoice-logo {
      margin-bottom: 1rem;
    }
    .controls-above-table .form-control {
      width: 110px;
      display: inline-block;
    }
    .controls-above-table .btn, .controls-above-table .all-wrapper .fc-button, .all-wrapper .controls-above-table .fc-button {
      margin-bottom: 0.5rem;
    }
    .layout-w {
      display: block;
    }
    .content-w, .menu-side .content-w {
      display: block;
    }
    .content-i {
      display: block;
    }
    .content-i .content-box {
      display: block;
      padding: 15px;
    }
    .content-i .content-panel {
      padding: 30px 15px;
      border-left: none;
      display: block;
      width: auto;
    }
    .big-error-w {
      padding: 1rem;
    }
    .element-wrapper {
      padding-bottom: 1.5rem;
    }
    .element-wrapper.compact {
      padding-bottom: 1rem;
    }
    .element-box, .invoice-w, .big-error-w {
      padding: 1rem;
    }
    canvas {
      max-width: 100%;
    }
    table {
      max-width: 100%;
    }
    .invoice-w {
      padding: 30px;
    }
    .breadcrumb {
      margin-bottom: 1rem;
    }
  }
  