<template>
    
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-right">
        <i class="os-icon os-icon-mail-14"></i>
        <div class="new-messages-count">
        12
        </div>
        <div class="os-dropdown light message-list">
        <ul>
            <li>
            <a href="#">
                <div class="user-avatar-w">
                <img alt="" src="../../assets/img/avatar1.jpg">
                </div>
                <div class="message-content">
                <h6 class="message-from">
                    John Mayers
                </h6>
                <h6 class="message-title">
                    Account Update
                </h6>
                </div>
            </a>
            </li>
            <li>
            <a href="#">
                <div class="user-avatar-w">
                <img alt="" src="../../assets/img/avatar2.jpg">
                </div>
                <div class="message-content">
                <h6 class="message-from">
                    Phil Jones
                </h6>
                <h6 class="message-title">
                    Secutiry Updates
                </h6>
                </div>
            </a>
            </li>
            <li>
            <a href="#">
                <div class="user-avatar-w">
                <img alt="" src="../../assets/img/avatar3.jpg">
                </div>
                <div class="message-content">
                <h6 class="message-from">
                    Bekky Simpson
                </h6>
                <h6 class="message-title">
                    Vacation Rentals
                </h6>
                </div>
            </a>
            </li>
            <li>
            <a href="#">
                <div class="user-avatar-w">
                <img alt="" src="../../assets/img/avatar4.jpg">
                </div>
                <div class="message-content">
                <h6 class="message-from">
                    Alice Priskon
                </h6>
                <h6 class="message-title">
                    Payment Confirmation
                </h6>
                </div>
            </a>
            </li>
        </ul>
        </div>
    </div>

</template>

<script>
export default {
    name:'topbar-notification'
}
</script>

<style>
@import './topbar-notification.css';
</style>


