/* Topbar Notification css start here */

.messages-notifications {
    margin: 0px 1rem;
    position: absolute;
    font-size: 24px;
    color: #047bf8;
  }
  .messages-notifications .new-messages-count {
    background-color: #e65252;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 4px;
    vertical-align: middle;
    font-size: 0.72rem;
    line-height: 1;
  }
  .messages-notifications i {
    position: relative;
    vertical-align: middle;
  }