/* Search button css */

.element-search 
{
  position: relative;
  margin: 0px 1rem;
}
.element-search:before 
{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  content: "\e92c"; 
  color: #bac7e9;
}
.element-search input 
{
  border: none;
  color: #bac7e9;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  padding: 8px 15px 8px 40px;
  display: block;
  width: 220px;
  outline: none;
  border: none;
  box-shadow: none; 
  background: #1644b5e8;
}  
.element-search input::-webkit-input-placeholder 
{
  color: #bac7e9;
}

.element-search input:-ms-input-placeholder 
{
  color: #bac7e9;
}

.element-search input::-ms-input-placeholder 
{
  color: #bac7e9;
}

.element-search input::placeholder 
{
  color: #bac7e9;
}
.element-search-suggestion input
{
  background-color: #fff !important;
}