<template>
    
    <div class="element-search autosuggest-search-activator">
        <input placeholder="Start typing to search..." type="text">
    </div>

</template>

<script>
export default {
    name: 'searchbar'
}
</script>

<style>
@import './searchbar.css';
</style>


