/* alert css */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
  border-radius: 6px;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 500;
}

.alert-dismissible {
  padding-right: 3.85rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #02366d;
  background-color: #54a5fa;
  border-color: #1886f9;
}

.alert-primary hr {
  border-top-color: #0679f1;
}

.alert-primary .alert-link {
  color: #011d3b;
}

.alert-secondary {
  color: #121313;
  background-color: #6d6f70;
  border-color: #3a3c3d;
}

.alert-secondary hr {
  border-top-color: #2e2f30;
}

.alert-secondary .alert-link {
  color: black;
}

.alert-success {
  color: #104f09;
  background-color: #6acb5f;
  border-color: #36b927;
}

.alert-success hr {
  border-top-color: #30a423;
}

.alert-success .alert-link {
  color: #072104;
}

.alert-info {
  color: #285462;
  background-color: #8fd4e9;
  border-color: #68c5e1;
}

.alert-info hr {
  border-top-color: #53bddd;
}

.alert-info .alert-link {
  color: #19353e;
}

.alert-warning {
  color: #6e6446;
  background-color: #fcedbe;
  border-color: #fbe6a8;
}

.alert-warning hr {
  border-top-color: #fadf90;
}

.alert-warning .alert-link {
  color: #4f4832;
}

.alert-danger {
  color: #652424;
  background-color: #ee8989;
  border-color: #e86060;
}

.alert-danger hr {
  border-top-color: #e54a4a;
}

.alert-danger .alert-link {
  color: #3f1717;
}

.alert-light {
  color: #6d6e6e;
  background-color: #fafbfc;
  border-color: #f9f9fa;
}

.alert-light hr {
  border-top-color: #ebebee;
}

.alert-light .alert-link {
  color: #545454;
}

.alert-dark {
  color: #171a1c;
  background-color: #75797d;
  border-color: #444a4f;
}

.alert-dark hr {
  border-top-color: #383d41;
}

.alert-dark .alert-link {
  color: black;
}
.close {
  float: right;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

/* 3i. Override bootstrap alerts styles */
.alert {
  font-weight: 300;
}

.alert p:last-child {
  margin-bottom: 0px;
}

.alert.alert-warning .alert-heading {
  color: #3E3221;
}

.alert.borderless {
  border: none;
}

.alert.compact {
  padding: 15px 20px;
  font-size: 0.72rem;
}
