/* chat app css start here */

.full-chat-w {
  /*
    #3. Middle Section
  */
}

.full-chat-w .full-chat-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #fff;
  padding: 0px;
}

.full-chat-w .full-chat-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  background-color: #f6f7f8;
  padding: 20px 0px;
}

.full-chat-w .full-chat-left .os-tabs-w .nav {
  padding: 0px 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.full-chat-w .full-chat-left .nav-link i {
  margin-bottom: 10px;
}

.full-chat-w .full-chat-left .chat-search {
  padding: 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.full-chat-w .full-chat-left .element-search {
  position: relative;
}

.full-chat-w .full-chat-left .element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.2);
}

.full-chat-w .full-chat-left .element-search input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 15px 10px 50px;
  display: block;
  width: 100%;
  outline: none;
}

.full-chat-w .full-chat-left .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.full-chat-w .full-chat-left .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.full-chat-w .full-chat-left .element-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.full-chat-w .full-chat-left .element-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.full-chat-w .full-chat-left .user-list .user-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-chat-w .full-chat-left .user-list .user-w .avatar {
  margin-right: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.full-chat-w .full-chat-left .user-list .user-w .avatar img {
  width: 50px;
  height: auto;
  border-radius: 50px;
  display: block;
}

.full-chat-w .full-chat-left .user-list .user-w .user-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.full-chat-w .full-chat-left .user-list .user-w .user-name {
  font-weight: 500;
  font-size: 0.99rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-chat-w .full-chat-left .user-list .user-w .last-message {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.81rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-chat-w .full-chat-left .user-list .user-w .user-date {
  float: right;
  padding: 2px 7px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 0.72rem;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-chat-w .full-chat-left .user-list .user-w:hover {
  background-color: #047bf8;
  cursor: pointer;
}

.full-chat-w .full-chat-left .user-list .user-w:hover .user-name {
  color: #fff;
}

.full-chat-w .full-chat-left .user-list .user-w:hover .last-message {
  color: rgba(255, 255, 255, 0.5);
}

.full-chat-w .full-chat-left .user-list .user-w:hover .user-date {
  background-color: #046fdf;
  color: rgba(255, 255, 255, 0.3);
}

.full-chat-w .full-chat-middle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}

.full-chat-w .full-chat-middle .chat-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-chat-w .full-chat-middle .user-info {
  font-size: 1.08rem;
}

.full-chat-w .full-chat-middle .user-info span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.full-chat-w .full-chat-middle .user-info a {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px dotted #047bf8;
}

.full-chat-w .full-chat-middle .user-info a:hover {
  text-decoration: none;
}

.full-chat-w .full-chat-middle .user-actions a {
  margin-left: 1rem;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.full-chat-w .chat-content-w {
  height: 600px;
  overflow-y: scroll;
  position: relative;
}

.full-chat-w .chat-content-w .chat-content {
  padding: 50px;
  min-height: 600px;
}

.full-chat-w .chat-content-w .chat-date-separator {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.81rem;
  position: relative;
  margin: 40px 0px;
}

.full-chat-w .chat-content-w .chat-date-separator:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
}

.full-chat-w .chat-content-w .chat-date-separator span {
  display: inline-block;
  background-color: #fff;
  padding: 0px 10px;
  position: relative;
}

.full-chat-w .chat-content-w .chat-message {
  margin-bottom: 20px;
}

.full-chat-w .chat-content-w .chat-message .chat-message-content {
  padding: 15px 35px;
  background-color: #fff9f0;
  color: #594939;
  max-width: 400px;
  display: inline-block;
  margin-bottom: -20px;
  margin-left: 20px;
  border-radius: 20px;
  text-align: left;
}

.full-chat-w .chat-content-w .chat-message .chat-message-avatar {
  display: inline-block;
  vertical-align: bottom;
}

.full-chat-w .chat-content-w .chat-message .chat-message-avatar img {
  width: 40px;
  height: auto;
  border-radius: 30px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 0px 10px #fff;
          box-shadow: 0px 0px 0px 10px #fff;
}

.full-chat-w .chat-content-w .chat-message .chat-message-date {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.72rem;
  color: rgba(0, 0, 0, 0.3);
}

.full-chat-w .chat-content-w .chat-message.self {
  text-align: right;
}

.full-chat-w .chat-content-w .chat-message.self .chat-message-content {
  background-color: #f0f9ff;
  color: #2A4E7F;
  margin-right: 20px;
  margin-left: 0px;
}

.full-chat-w .chat-controls {
  padding: 20px;
  padding-top: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.full-chat-w .chat-input input[type="text"] {
  padding: 20px 20px 20px 0px;
  border: none;
  display: block;
  width: 100%;
  outline: none;
}

.full-chat-w .chat-input-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-chat-w .chat-input-extra .chat-extra-actions a {
  margin-right: 10px;
  display: inline-block;
}

.full-chat-w .full-chat-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.full-chat-w .user-intro {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.full-chat-w .user-intro .avatar {
  width: 90px;
  height: 90px;
  display: inline-block;
}

.full-chat-w .user-intro .avatar img {
  width: 90px;
  border-radius: 60px;
  height: auto;
}

.full-chat-w .user-intro .user-intro-info {
  margin-top: 1rem;
}

.full-chat-w .user-intro .user-intro-info .user-name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #047bf8;
}

.full-chat-w .user-intro .user-intro-info .user-sub {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.72rem;
  margin-top: 5px;
}

.full-chat-w .user-intro .user-intro-info .user-social {
  margin-top: 1rem;
}

.full-chat-w .user-intro .user-intro-info .user-social a {
  display: inline-block;
  margin: 0px 6px;
  font-size: 24px;
}

.full-chat-w .user-intro .user-intro-info .user-social a:hover {
  text-decoration: none;
}

.full-chat-w .user-intro .user-intro-info .user-social i.os-icon.os-icon-twitter {
  color: #31a7f3;
}

.full-chat-w .user-intro .user-intro-info .user-social i.os-icon.os-icon-facebook {
  color: #175dc5;
}

.full-chat-w .chat-info-section {
  padding: 20px;
}

.full-chat-w .chat-info-section .ci-header i {
  color: #047bf8;
  font-size: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.full-chat-w .chat-info-section .ci-header span {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
}

.full-chat-w .chat-info-section .ci-content {
  padding: 20px;
}

.full-chat-w .chat-info-section .ci-content .ci-file-list ul {
  list-style-type: square;
  color: #98c9fd;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.full-chat-w .chat-info-section .ci-content .ci-file-list ul li {
  margin: 5px;
}

.full-chat-w .chat-info-section .ci-content .ci-file-list ul li a {
  font-size: 0.81rem;
  border-bottom: 1px solid #047bf8;
}

.full-chat-w .chat-info-section .ci-content .ci-file-list ul li a:hover {
  text-decoration: none;
}

.full-chat-w .chat-info-section .ci-content .ci-photos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.full-chat-w .chat-info-section .ci-content .ci-photos-list img {
  margin: 2%;
  border-radius: 6px;
  width: 45%;
  display: inline-block;
  height: auto;
}

.full-chat-w .chat-info-section + .chat-info-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
