/* datepicker css */

/* DATERANGEPICKER */
body .daterangepicker {
  -webkit-box-shadow: 3px 25px 50px rgba(77, 76, 132, 0.34);
          box-shadow: 3px 25px 50px rgba(77, 76, 132, 0.34);
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border: none;
  padding: 15px;
  min-width: 540px;
}

body .daterangepicker::after {
  display: block;
  clear: both;
  content: "";
}

body .daterangepicker .calendar {
  float: left;
  max-width: 300px;
  margin: 10px;
}

body .daterangepicker .calendar td {
  cursor: pointer;
}

body .daterangepicker .calendar td:hover {
  background-color: #1a88fb;
  color: #fff;
}

body .daterangepicker .calendar td.in-range {
  background-color: #1a88fb;
  color: #fff;
  border-color: #fff;
}

body .daterangepicker .calendar td.active, body .daterangepicker .calendar td.active:hover {
  background-color: #046fdf;
  color: #fff;
  border-color: #fff;
}

body .daterangepicker .ranges {
  clear: left;
  padding: 5px 10px;
}

body .daterangepicker .ranges .btn, body .daterangepicker .ranges .all-wrapper .fc-button, .all-wrapper body .daterangepicker .ranges .fc-button {
  padding: 5px 10px;
  line-height: 1;
  vertical-align: middle;
  text-transform: none;
  font-size: 0.81rem;
}

body .daterangepicker th {
  font-weight: 500;
  text-align: center;
  padding: 5px 0px;
  font-size: 0.72rem;
}

body .daterangepicker th.prev {
  text-align: left;
  cursor: pointer;
}

body .daterangepicker th.next {
  text-align: right;
  cursor: pointer;
}

body .daterangepicker:before {
  border-bottom-color: #3E4B5B;
}

body .daterangepicker .calendar td {
  font-weight: 300;
  font-size: 0.81rem;
  text-align: right;
  font-size: 0.81rem;
  padding: 5px 8px;
  border: 1px solid #eee;
}

body .daterangepicker .calendar th.month {
  color: #047bf8;
}

body .daterangepicker .calendar-table {
  padding-top: 10px;
}

body .daterangepicker thead tr:first-child th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
}

body .daterangepicker thead tr:first-child + tr th {
  padding-top: 10px;
}

body .daterangepicker .daterangepicker_input {
  position: relative;
}

body .daterangepicker .daterangepicker_input input {
  width: 100%;
  display: block;
  padding-left: 35px;
}

body .daterangepicker .daterangepicker_input i {
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  position: absolute;
}

body .daterangepicker .fa.fa-calendar.glyphicon.glyphicon-calendar:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e926";
}

body .daterangepicker .fa.fa-chevron-left.glyphicon.glyphicon-chevron-left:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e919";
  font-size: 10px;
}

body .daterangepicker .fa.fa-chevron-right.glyphicon.glyphicon-chevron-right:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e910";
  font-size: 10px;
}

/* CALENDAR  */
.fc-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fc-header td {
  padding: 10px 0px;
}

.fc-header h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.fc-content {
  color: #fff;
}

.fc-event {
  background-color: #3584ff;
  -webkit-box-shadow: 5px 5px 10px 0px #bdd4ff;
          box-shadow: 5px 5px 10px 0px #bdd4ff;
  border: none;
  padding: 6px;
  padding-left: 9px;
  color: #fff;
  border-radius: 4px;
}

.fc-day-number {
  color: #6B6862;
}

.fc-day-header {
  font-weight: 300;
  color: #6B6862;
  text-transform: uppercase;
  font-size: 12px;
}

.fc-other-month {
  background-color: #eee;
}

.all-wrapper .fc-button {
  padding: 5px 10px;
  height: auto;
  margin: 0px 5px;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.all-wrapper .fc-button.fc-state-active {
  outline: none;
  text-shadow: none;
}
