/* nav css */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #636c72;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 transparent;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 4px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #047bf8;
}

.nav-fill .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

/* 3d. Override bootstrap navigation styles */
.nav.smaller {
  font-size: 0.72rem;
}

.nav.smaller.nav-tabs .nav-link {
  padding: 0.7em 1.1em;
}

.nav.smaller.nav-pills .nav-link {
  padding: 0.2em 1.1em;
}

.nav.bigger {
  font-size: 1.25rem;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.nav.bigger.nav-tabs .nav-link.active:after,
.nav.bigger.nav-tabs .nav-item.show .nav-link:after {
  height: 6px;
  bottom: -3px;
  border-radius: 2px;
}

.nav.bigger.nav-tabs .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 2rem;
}

.nav.upper {
  font-size: 0.9rem;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav.upper.nav-tabs .nav-link.active:after,
.nav.upper.nav-tabs .nav-item.show .nav-link:after {
  height: 3px;
  bottom: -2px;
  border-radius: 2px;
}

.nav.upper.nav-tabs .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  margin-right: 2rem;
}

.nav.upper.centered.nav-tabs .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav.upper.centered.nav-tabs .nav-item {
  margin-right: 0px;
}

.nav.centered {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-link i {
  display: inline-block;
  color: #b0c4f3;
  font-size: 26px;
  margin-bottom: 5px;
}

.nav-link span {
  display: block;
  font-size: 0.72rem;
}

.nav-link.active i {
  color: #047bf8;
}

.nav-tabs .nav-item {
  margin-bottom: 0px;
  margin-right: 1rem;
}

.nav-tabs .nav-link {
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-link.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.nav-tabs .nav-link:after,
.nav-tabs .nav-item .nav-link:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #047bf8;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item:hover .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 transparent;
  position: relative;
}

.nav-tabs .nav-link.active:after,
.nav-tabs .nav-item.show .nav-link:after,
.nav-tabs .nav-link:hover:after,
.nav-tabs .nav-item:hover .nav-link:after {
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
  color: #fff;
  cursor: default;
  background-color: #047bf8;
}
