/* 17. Pipelines */

/* Pipeline Styles*/
.pipeline {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
          box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

.pipeline.blue {
  background-color: #1D54EF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D54EF), to(#4327DF));
  background-image: linear-gradient(-180deg, #1D54EF 0%, #4327DF 100%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
          box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
}

.pipeline.teal {
  background-color: #07B77F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#07B77F), color-stop(98%, #2767DF));
  background-image: linear-gradient(-180deg, #07B77F 0%, #2767DF 98%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(7, 186, 171, 0.5);
          box-shadow: 0 2px 30px 0 rgba(7, 186, 171, 0.5);
}

.pipeline.purple {
  background-color: #28428c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#28428c), to(#510d8c));
  background-image: linear-gradient(-180deg, #28428c 0%, #510d8c 100%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(42, 16, 133, 0.5);
          box-shadow: 0 2px 30px 0 rgba(42, 16, 133, 0.5);
}

.pipeline.green {
  background-color: #7BC10C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7BC10C), color-stop(95%, #057051));
  background-image: linear-gradient(-180deg, #7BC10C 0%, #057051 95%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(31, 219, 78, 0.5);
          box-shadow: 0 2px 30px 0 rgba(31, 219, 78, 0.5);
}

.pipeline.red {
  background-color: #960644;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#960644), color-stop(95%, #af760b));
  background-image: linear-gradient(-180deg, #960644 0%, #af760b 95%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(154, 7, 58, 0.5);
          box-shadow: 0 2px 30px 0 rgba(154, 7, 58, 0.5);
}

.pipeline.pink {
  background-color: #a0008f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a0008f), color-stop(98%, #2767DF));
  background-image: linear-gradient(-180deg, #a0008f 0%, #2767DF 98%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(7, 8, 186, 0.5);
          box-shadow: 0 2px 30px 0 rgba(7, 8, 186, 0.5);
}

.pipeline.white {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.1);
          box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.1);
}

.pipeline.white .pipeline-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.pipeline.white .pipeline-header .pipeline-name {
  color: #334152;
}

.pipeline.white .pipeline-header .pipeline-count {
  color: rgba(0, 0, 0, 0.5);
}

.pipeline.white .pipeline-header .pipeline-settings {
  color: rgba(0, 0, 0, 0.4);
}

.pipeline.white .pipeline-header .pipeline-value {
  color: #047bf8;
}

.pipeline.white .pipeline-item {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #d1d4e8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: move;
}

.pipeline.white .pipeline-item:last-child {
  margin-bottom: 0px;
}

.pipeline.white .pipeline-item:hover {
  border: 1px solid #9ea4cf;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.pipeline.white .pipeline-item .pi-foot {
  border-radius: 0px 0px 4px 4px;
}

.pipeline.white.lined-primary {
  border-top: 5px solid #047bf8;
  border-radius: 0px 0px 4px 4px;
}

.pipeline.white.lined-success {
  border-top: 5px solid #24b314;
  border-radius: 0px 0px 4px 4px;
}

.pipeline.white.lined-danger {
  border-top: 5px solid #e65252;
  border-radius: 0px 0px 4px 4px;
}

.pipeline.white.lined-warning {
  border-top: 5px solid #fbe4a0;
  border-radius: 0px 0px 4px 4px;
}

/* Pipeline Header Styles */
.pipeline-header {
  position: relative;
  margin-bottom: 20px;
}

.pipeline-header .pipeline-header-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pipeline-header .pipeline-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  margin-bottom: 5px;
  line-height: 1;
  padding-right: 30px;
}

.pipeline-header .pipeline-value {
  color: #FFD038;
  letter-spacing: 3px;
  font-size: 1.17rem;
}

.pipeline-header .pipeline-count {
  font-size: 0.81rem;
  color: rgba(255, 255, 255, 0.7);
}

.pipeline-header .pipeline-settings {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.pipeline-body {
  min-height: 100px;
}

.pipeline-body.empty {
  border: 1px dashed rgba(0, 0, 0, 0.2);
}
/* Pipeline Item Styles */
.pipeline-item {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.pipeline-item:last-child {
  margin-bottom: 0px;
}

.pipeline-item .pi-controls {
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 1;
}

.pipeline-item .pi-controls a {
  font-size: 16px;
  line-height: 14px;
  color: #047bf8;
  display: inline-block;
  vertical-align: middle;
}

.pipeline-item .pi-controls .pi-settings {
  display: inline-block;
  color: #047bf8;
  vertical-align: middle;
}

.pipeline-item .pi-controls .pi-settings > i {
  font-size: 15px;
}

.pipeline-item .pi-controls .status {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  cursor: pointer;
}

.pipeline-item .pi-controls .status.status-green {
  background-color: #24b314;
}

.pipeline-item .pi-controls .status.status-red {
  background-color: #e65252;
}

.pipeline-item .pi-controls .status.status-yellow {
  background-color: #fbe4a0;
}

.pipeline-item .pi-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.pipeline-item .pi-body .avatar {
  width: 50px;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.pipeline-item .pi-body .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pipeline-item .pi-body .pi-name {
  margin-bottom: 0px;
}

.pipeline-item .pi-body .pi-sub {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.81rem;
}

.pipeline-item .pi-foot {
  background-color: #F1F4F8;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
}

.pipeline-item .pi-foot .tags {
  line-height: 1;
}

.pipeline-item .pi-foot .tags .tag {
  padding: 3px 6px;
  line-height: 1;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #047bf8;
  color: #047bf8;
  margin-right: 2px;
  font-size: 0.72rem;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.pipeline-item .pi-foot .extra-info {
  margin-right: 5px;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.63rem;
  letter-spacing: 1px;
}

.pipeline-item .pi-foot .extra-info i {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
  color: #047bf8;
  display: inline-block;
}

.pipeline-item .pi-foot .extra-info span {
  vertical-align: middle;
  display: inline-block;
}

.control-header {
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.control-header select.form-control {
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.5);
}

.control-header label {
  text-transform: uppercase;
  font-size: 0.72rem;
  letter-spacing: 1px;
}

.control-header .form-group {
  margin-bottom: 0px;
}

.color-scheme-dark .control-header {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.color-scheme-dark .control-header select {
  background: #202738;
  color: #7f8696;
  border-color: #141927;
}

.color-scheme-dark .control-header label {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .pipeline.white {
  background-color: #323c58;
  -webkit-box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
          box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

.color-scheme-dark .pipeline.white.lined-warning {
  border-top-color: #fbe4a0;
}

.color-scheme-dark .pipeline.white .pipeline-header .pipeline-name {
  color: #fff;
}

.color-scheme-dark .pipeline.white .pipeline-header .pipeline-settings {
  color: #fff;
}

.color-scheme-dark .pipeline.white .pipeline-header .pipeline-count {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .pipeline.white .pipeline-item {
  background-color: #384362;
  border-color: #293148;
}

.color-scheme-dark .pipeline.white .pipeline-item .pi-body .pi-sub {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .pipeline.white .pipeline-item .pi-foot {
  background-color: #2c354e;
}

.color-scheme-dark .pipeline.white .pipeline-item .pi-foot .extra-info {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .pipeline.white .pipeline-item .pi-foot .tags .tag {
  color: #fff;
  background-color: #422af5;
  border-color: #422af5;
}
