/* 16. Pricing Plans */

/* 

Pricing Plans Styles

#1. 
#2. 
#3. 
#4. 
#5. 
#6. 


*/
/*

#1.

*/

.pricing-plans {
  background-color: #fff;
}

.pricing-plan + .pricing-plan {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-plan {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 20px;
  background-color: #f9f9f9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pricing-plan.with-hover-effect:hover, .pricing-plan.highlight {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 2px 30px 0 rgba(54, 88, 206, 0.2);
          box-shadow: 0 2px 30px 0 rgba(54, 88, 206, 0.2);
}

.pricing-plan.with-hover-effect:hover .plan-price-w .price-value, .pricing-plan.highlight .plan-price-w .price-value {
  color: #047bf8;
}

.pricing-plan.with-hover-effect:hover .plan-head, .pricing-plan.highlight .plan-head {
  -webkit-box-shadow: inset 0px 5px 0px #047bf8;
          box-shadow: inset 0px 5px 0px #047bf8;
}

.pricing-plan.with-hover-effect:hover .plan-name {
  color: #3E4B5B;
}

.pricing-plan.highlight {
  margin-top: -20px;
  margin-bottom: -20px;
}

.pricing-plan .plan-image img {
  width: 80px;
}

.pricing-plan .plan-head {
  background-color: #fff;
  padding-top: 40px;
}

.pricing-plan .plan-body {
  background-color: #fff;
}

.pricing-plan .plan-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #047bf8;
  font-weight: 500;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-plan .plan-image + .plan-name {
  margin-top: 20px;
}

.pricing-plan .plan-price-w {
  padding-top: 40px;
  margin-bottom: 40px;
}

.pricing-plan .plan-price-w .price-value {
  font-size: 3.6rem;
  line-height: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.pricing-plan .plan-price-w .price-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.pricing-plan .plan-btn-w {
  padding-bottom: 40px;
}

.pricing-plan .plan-description {
  text-align: left;
  padding: 30px 15%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.pricing-plan .plan-description h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  font-size: 0.9rem;
}

.pricing-plan .plan-description ul {
  list-style: none;
  padding-left: 30px;
  margin-top: 20px;
}

.pricing-plan .plan-description ul li {
  position: relative;
  margin-bottom: 10px;
}

.pricing-plan .plan-description ul li:before {
  content: '\e961';
  color: #047bf8;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: -30px;
  top: 5px;
}

/*

#2.

*/
/*

#3.

*/
/*

#4.

*/
/*

#5.

*/
