/* Progressbar css */

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.675rem;
  background-color: #e9ecef;
  border-radius: 4px;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #047bf8;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
          animation: progress-bar-stripes 1s linear infinite;
}

/*
 #14. Progress Bar Element
*/
.os-progress-bar {
  margin-bottom: 1rem;
}

.os-progress-bar .bar-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.os-progress-bar .bar-labels span {
  font-size: 0.72rem;
}

.os-progress-bar .bar-labels span.bigger {
  font-size: 0.99rem;
}

.os-progress-bar .bar-label-left span {
  margin-right: 5px;
}

.os-progress-bar .bar-label-left span.positive {
  color: #619B2E;
}

.os-progress-bar .bar-label-left span.negative {
  color: #D83536;
}

.os-progress-bar .bar-label-right span {
  margin-left: 5px;
}

.os-progress-bar .bar-label-right span.info {
  color: #456CF9;
}

.os-progress-bar .bar-level-1,
.os-progress-bar .bar-level-2,
.os-progress-bar .bar-level-3 {
  border-radius: 12px;
  height: 6px;
}

.os-progress-bar.blue .bar-level-1, .os-progress-bar.primary .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.blue .bar-level-2, .os-progress-bar.primary .bar-level-2 {
  background-color: #65affd;
}

.os-progress-bar.blue .bar-level-3, .os-progress-bar.primary .bar-level-3 {
  background-color: #0362c6;
}

.os-progress-bar.warning .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.warning .bar-level-2 {
  background-color: #fcebb8;
}

.os-progress-bar.warning .bar-level-3 {
  background-color: #f9d66f;
}

.os-progress-bar.danger .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.danger .bar-level-2 {
  background-color: #f7acac;
}

.os-progress-bar.danger .bar-level-3 {
  background-color: #f16666;
}

.os-progress-bar.success .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.success .bar-level-2 {
  background-color: #c2f2ae;
}

.os-progress-bar.success .bar-level-3 {
  background-color: #90e86c;
}

.os-progress-bar.info .bar-level-1 {
  background-color: #F2F2F2;
}

.os-progress-bar.info .bar-level-2 {
  background-color: #9fd9f7;
}

.os-progress-bar.info .bar-level-3 {
  background-color: #58bef1;
}

.os-progress-bar.floated {
  float: right;
  width: 220px;
}

/* 
#19. Fancy Progress With Label
*/
.fancy-progress-with-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.fancy-progress-with-label .fpl-label {
  font-size: 1.35rem;
  font-weight: 500;
  padding-right: 20px;
}

.fancy-progress-with-label .fpl-progress-w {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

.fancy-progress-with-label .fpl-progress-w .fpl-progress-i {
  height: 20px;
  background-color: #28EF58;
  background-image: -webkit-gradient(linear, left top, right top, from(#28EF58), color-stop(98%, #3386EF));
  background-image: linear-gradient(-270deg, #28EF58 0%, #3386EF 98%);
  border-radius: 20px;
}
