/* Table CSS */

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(83, 101, 140, 0.33);
}

.table tbody + tbody {
  border-top: 2px solid rgba(83, 101, 140, 0.33);
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid rgba(83, 101, 140, 0.33);
}

.table-bordered th,
.table-bordered td {
  border: 1px solid rgba(83, 101, 140, 0.33);
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(94, 130, 152, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(18, 95, 142, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b9dafd;
}

.table-hover .table-primary:hover {
  background-color: #a0cdfc;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #a0cdfc;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #c3c4c4;
}

.table-hover .table-secondary:hover {
  background-color: #b6b7b7;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #b6b7b7;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c2eabd;
}

.table-hover .table-success:hover {
  background-color: #b0e4aa;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b0e4aa;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d1edf6;
}

.table-hover .table-info:hover {
  background-color: #bce5f2;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #bce5f2;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fef7e4;
}

.table-hover .table-warning:hover {
  background-color: #fdf0cb;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fdf0cb;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f8cfcf;
}

.table-hover .table-danger:hover {
  background-color: #f5b9b9;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b9b9;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(18, 95, 142, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(15, 80, 119, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(15, 80, 119, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #292b2c;
  border-color: #3b3e40;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: rgba(83, 101, 140, 0.33);
}

.table-dark {
  color: #fff;
  background-color: #292b2c;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #3b3e40;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1249.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1449.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xxl > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1549.98px) {
  .table-responsive-xxxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xxxl > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1649.98px) {
  .table-responsive-xxxxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xxxxl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}

/* 3b. Override bootstrap table styles */
.table .user-with-avatar {
  white-space: nowrap;
}

.table .user-with-avatar img {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50px;
}

.table .user-with-avatar span {
  display: inline-block;
  vertical-align: middle;
}

.table .user-with-avatar img + span {
  margin-left: 10px;
}

.table .icon-separator {
  margin: 0px 4px;
  opacity: 0.6;
}

.table th {
  font-weight: 500;
}

.table .smaller, .table.smaller {
  font-size: 0.72rem;
}

.table .lighter {
  color: rgba(90, 99, 126, 0.49);
}

.table.table-v-compact td {
  padding: 0.3rem 0.75rem;
}

.table.table-compact td {
  padding: 0.3rem 0.45rem;
}

.table.table-editable td:hover {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #047bf8;
          box-shadow: inset 0px 0px 0px 2px #047bf8;
}

.table.table-lightborder td {
  border-color: rgba(83, 101, 140, 0.08);
}

.table.table-clean tr:first-child td {
  border-top: none;
}

.table.table-clean td {
  padding-left: 0px;
  padding-right: 0px;
  border-top-color: rgba(0, 0, 0, 0.05);
}

.table.table-clean td .value {
  font-size: 0.9rem;
  line-height: 1.2;
}

.table.table-clean td .sub-value {
  font-size: 0.72rem;
  color: rgba(90, 99, 126, 0.49);
}

.table.table-lightfont td {
  font-weight: 300;
}

.table.table-bordered thead th {
  border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.table th,
.table td {
  vertical-align: middle;
}

.table th img, .table td img {
  max-width: 100%;
}

.table thead th {
  border-bottom: 1px solid #999;
}

.table tfoot th {
  border-top: 1px solid #999;
}

.table tfoot th,
.table thead th {
  font-size: 0.63rem;
  text-transform: uppercase;
  border-top: none;
}

.table tbody + tbody {
  border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.table td.nowrap {
  white-space: nowrap;
}

.table .row-actions {
  text-align: center;
}

.table .row-actions .os-icon {
  font-size: 16px;
}

.table .row-actions a {
  margin-right: 0.8rem;
  color: #3E4B5B;
}

.table .row-actions a.danger {
  color: #9d1818;
}

.table .row-actions a:last-child {
  margin-right: 0px;
}

.table .cell-image-list {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.table .cell-image-list .cell-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  cursor: pointer;
}

.table .cell-image-list .cell-img:nth-child(1) {
  z-index: 5;
}

.table .cell-image-list .cell-img:nth-child(2) {
  z-index: 4;
}

.table .cell-image-list .cell-img:nth-child(3) {
  z-index: 3;
}

.table .cell-image-list .cell-img:nth-child(4) {
  z-index: 2;
}

.table .cell-image-list .cell-img:nth-child(5) {
  z-index: 1;
}

.table .cell-image-list .cell-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.table .cell-image-list .cell-img + .cell-img {
  margin-left: -15px;
}

.table .cell-image-list .cell-img + .cell-img:hover {
  -webkit-transform: translateX(5px) scale(1.1);
          transform: translateX(5px) scale(1.1);
}

.table .cell-image-list .cell-img-more {
  font-size: 0.63rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -70%;
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 4px;
  z-index: 7;
  white-space: nowrap;
}

@media (min-width: 1100px) {
  .table-responsive {
    overflow: visible;
  }
}

.table-lg td {
  padding: 1.2rem 1.5rem;
}

.table.table-v2 thead tr th, .table.table-v2 tfoot tr th {
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.05);
}

.table.table-v2 thead tr th:first-child, .table.table-v2 tfoot tr th:first-child {
  border-left: 1px solid #999;
}

.table.table-v2 thead tr th:last-child, .table.table-v2 tfoot tr th:last-child {
  border-right: 1px solid #999;
}

.table.table-v2 tbody tr td {
  border-color: #d1d8e6;
}

.controls-above-table {
  margin-bottom: 1rem;
}

.controls-above-table .btn, .controls-above-table .all-wrapper .fc-button, .all-wrapper .controls-above-table .fc-button {
  margin-right: 0.5rem;
}

.controls-above-table .btn + .btn, .controls-above-table .all-wrapper .fc-button + .btn, .all-wrapper .controls-above-table .fc-button + .btn, .controls-above-table .all-wrapper .btn + .fc-button, .all-wrapper .controls-above-table .btn + .fc-button, .controls-above-table .all-wrapper .fc-button + .fc-button, .all-wrapper .controls-above-table .fc-button + .fc-button {
  margin-left: 0px !important;
}

.controls-above-table .form-control {
  margin-right: 1rem;
}

.controls-above-table .form-control:last-child {
  margin-right: 0px;
}

.controls-below-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.81rem;
}

.controls-below-table .table-records-info {
  color: rgba(0, 0, 0, 0.5);
}

.controls-below-table .table-records-pages ul {
  list-style: none;
}

.controls-below-table .table-records-pages ul li {
  display: inline-block;
  margin: 0px 10px;
}

.controls-below-table .table-records-pages ul li a.current {
  color: #3E4B5B;
}

.all-wrapper table.dataTable {
  border-collapse: collapse !important;
}

.table.table-padded {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table.table-padded thead tr th {
  border: none;
  font-size: 0.81rem;
  color: rgba(90, 99, 126, 0.49);
  letter-spacing: 1px;
  padding: 0.3rem 1.1rem;
}

.table.table-padded tbody tr {
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.table.table-padded tbody tr:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
          box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  -webkit-transform: translateY(-1px) scale(1.01);
          transform: translateY(-1px) scale(1.01);
}

.table.table-padded tbody td {
  padding: 0.9rem 1.1rem;
  background-color: #fff;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.table.table-padded tbody td.bolder {
  font-weight: 500;
  font-size: 0.99rem;
}

.table.table-padded tbody td img {
  display: inline-block;
  vertical-align: middle;
}

.table.table-padded tbody td img + span {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.table.table-padded tbody td span + span {
  margin-left: 5px;
}

.table.table-padded tbody td .status-pill + span {
  margin-left: 10px;
}

.table.table-padded tbody td:first-child {
  border-radius: 4px 0px 0px 4px;
}

.table.table-padded tbody td:last-child {
  border-radius: 0px 4px 4px 0px;
  border-right: none;
}

.element-box .table:last-child, .invoice-w .table:last-child, .big-error-w .table:last-child {
  margin-bottom: 0;
}

/* DATATABLES */
.dataTables_length select {
  display: inline-block;
  width: 50px;
  margin: 0px 5px;
  vertical-align: middle;
}

.dataTables_filter input {
  display: inline-block;
  width: 130px;
  margin: 0px 5px;
  vertical-align: middle;
}

.dataTables_wrapper .row:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.dataTables_wrapper .row:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

/* Datatables for Bootstrap 4 */
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
  text-align: center;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
  outline: none;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\2191";
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\2193";
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
  opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}

table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: 0;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}


