/* topbar css start here */


/* 24. Top Bar styles */
/*
  Top Bar Styles
*/
.all-wrapper > .top-bar {
  border-radius: 6px 6px 0px 0px;
}

.content-w > .top-bar {
  padding-left: 0px;
}

.top-bar {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
          box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  padding: 0px 20px 0px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0px 6px 0px 0px;
}

.top-bar > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  color: #3E4B5B;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 0.99rem;
}

.top-bar > ul li {
  display: inline-block;
}

.top-bar > ul li a {
  display: inline-block;
  padding: 20px 25px;
  color: rgba(0, 0, 0, 0.25);
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-bar > ul li a:after {
  content: "";
  background-color: #047bf8;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-bar > ul li.active a, .top-bar > ul li:hover a {
  color: #3E4B5B;
  text-decoration: none;
}

.top-bar > ul li.active a:after, .top-bar > ul li:hover a:after {
  width: 100%;
}

.top-bar .fancy-selector-w {
  margin-right: auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.top-bar .logo-w.menu-size + .fancy-selector-w {
  margin-left: 0px;
}

.top-bar .logo-w {
  text-align: left;
}

.top-bar .logo-w a {
  display: inline-block;
}

.top-bar .logo-w img {
  height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.top-bar .logo-w span {
  display: inline-block;
  vertical-align: middle;
}

.top-bar .logo-w img + span {
  margin-left: 20px;
  color: #3E4B5B;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.81rem;
  font-weight: 500;
}

.top-bar .logo-w.menu-size {
  width: 260px;
}

.top-bar .top-menu-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 7px 0px;
}

.top-bar .top-menu-controls .element-search {
  position: relative;
  margin: 0px 1rem;
}

.top-bar .top-menu-controls .element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.4);
}

.top-bar .top-menu-controls .element-search input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  padding: 8px 15px 8px 40px;
  display: block;
  width: 220px;
  outline: none;
  border: none;
  box-shadow: none;
  background: #eee;
}

.top-bar .top-menu-controls .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.top-bar .top-menu-controls .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.top-bar .top-menu-controls .element-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.top-bar .top-menu-controls .element-search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.top-bar .messages-notifications {
  margin: 0px 1rem;
  position: relative;
  font-size: 24px;
  color: #047bf8;
}

.top-bar .messages-notifications .new-messages-count {
  background-color: #e65252;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  position: absolute;
  top: -5px;
  right: -12px;
  padding: 4px 4px;
  vertical-align: middle;
  font-size: 0.72rem;
  line-height: 1;
}

.top-bar .messages-notifications i {
  vertical-align: middle;
}

.top-bar .top-icon {
  margin: 0px 1rem;
  color: #047bf8;
  font-size: 26px;
}

.top-bar .top-icon i {
  vertical-align: middle;
}

.top-bar .logged-user-w {
  position: relative;
  padding: 0px 1rem;
  border-bottom: none;
}

.top-bar .logged-user-w .avatar-w {
  padding: 0px;
  border: none;
  vertical-align: middle;
}

.top-bar .logged-user-w .avatar-w img {
  width: 40px;
}

.top-bar .logged-user-w .logged-user-i {
  display: inline-block;
}

.top-bar .logged-user-w .logged-user-i:hover {
  cursor: pointer;
}

.top-bar .logged-user-w .logged-user-i:hover .logged-user-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.top-bar .logged-user-w .logged-user-menu {
  background: #1b55e2;
  -webkit-box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
          box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
  position: absolute;
  top: -10px;
  right: -20px;
  overflow: hidden;
  padding: 1rem;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: left;
  border-radius: 6px;
}

.top-bar .logged-user-w .logged-user-menu .logged-user-avatar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0px 30px 10px 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-bar .logged-user-w .logged-user-menu .avatar-w {
  border-color: #fff;
  vertical-align: middle;
  margin-right: 20px;
}

.top-bar .logged-user-w .logged-user-menu .logged-user-info-w {
  vertical-align: middle;
}

.top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name {
  color: #fff;
  white-space: nowrap;
}

.top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role {
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.top-bar .logged-user-w .logged-user-menu ul {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
}

.top-bar .logged-user-w .logged-user-menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.top-bar .logged-user-w .logged-user-menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
}

.top-bar .logged-user-w .logged-user-menu ul li a i {
  vertical-align: middle;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.top-bar .logged-user-w .logged-user-menu ul li a span {
  vertical-align: middle;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

.top-bar .logged-user-w .logged-user-menu ul li a:hover {
  text-decoration: none;
}

.top-bar .logged-user-w .logged-user-menu ul li a:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.top-bar .logged-user-w .logged-user-menu ul li a:hover span {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.top-bar .logged-user-w .logged-user-menu ul li:last-child {
  border-bottom: none;
}

.top-bar .logged-user-w .logged-user-menu .bg-icon {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -40px;
  right: -20px;
}

.top-bar.color-scheme-transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.top-bar.color-scheme-light .top-menu-controls .element-search input, .top-bar.color-scheme-transparent .top-menu-controls .element-search input {
  background-color: rgba(121, 138, 185, 0.07);
}

.top-bar.color-scheme-light .logo-w .logo-label, .top-bar.color-scheme-transparent .logo-w .logo-label {
  color: #3E4B5B;
}

.top-bar.color-scheme-light .logo-w .logo-element, .top-bar.color-scheme-transparent .logo-w .logo-element {
  background-color: #0a7cf8;
}

.top-bar.color-scheme-light .logo-w .logo-element:after, .top-bar.color-scheme-transparent .logo-w .logo-element:after {
  background-color: #bfd6f9;
}

.top-bar.color-scheme-light .logo-w .logo:hover .logo-label, .top-bar.color-scheme-transparent .logo-w .logo:hover .logo-label {
  color: #047bf8;
}

.top-bar.color-scheme-light .logo-w .logo:hover .logo-label:after, .top-bar.color-scheme-transparent .logo-w .logo:hover .logo-label:after {
  background-color: #047bf8;
}

.top-bar.color-scheme-dark, .top-bar.color-scheme-bright {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.top-bar.color-scheme-dark .top-menu-controls .element-search input, .top-bar.color-scheme-bright .top-menu-controls .element-search input {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.top-bar.color-scheme-dark .top-menu-controls .element-search input::-webkit-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.top-bar.color-scheme-dark .top-menu-controls .element-search input:-ms-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.top-bar.color-scheme-dark .top-menu-controls .element-search input::-ms-input-placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.top-bar.color-scheme-dark .top-menu-controls .element-search input::placeholder, .top-bar.color-scheme-bright .top-menu-controls .element-search input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.top-bar.color-scheme-dark .top-menu-controls .element-search:before, .top-bar.color-scheme-bright .top-menu-controls .element-search:before {
  color: rgba(255, 255, 255, 0.7);
}

.top-bar.color-scheme-dark .messages-notifications,
.top-bar.color-scheme-dark .top-icon, .top-bar.color-scheme-bright .messages-notifications,
.top-bar.color-scheme-bright .top-icon {
  color: #fff;
}

.top-bar.color-scheme-dark > ul li a, .top-bar.color-scheme-bright > ul li a {
  color: rgba(255, 255, 255, 0.4);
}

.top-bar.color-scheme-dark > ul li a:after, .top-bar.color-scheme-bright > ul li a:after {
  background-color: #FBB463;
  border-color: #FBB463;
}

.top-bar.color-scheme-dark > ul li.active a, .top-bar.color-scheme-dark > ul li:hover a, .top-bar.color-scheme-bright > ul li.active a, .top-bar.color-scheme-bright > ul li:hover a {
  color: #fff;
}

.top-bar.color-scheme-dark .logo-w img + span, .top-bar.color-scheme-bright .logo-w img + span {
  color: #fff;
}

.top-bar.color-scheme-dark .fancy-selector-w .fancy-selector-current .fs-selector-trigger, .top-bar.color-scheme-bright .fancy-selector-w .fancy-selector-current .fs-selector-trigger {
  background-color: #3572ed;
}

.top-bar.color-scheme-dark {
  background-color: #323c58;
}

.top-bar.color-scheme-bright {
  background-color: #1b55e2;
}

/* 25. Search */
.search-with-suggestions-w {
  display: none;
}

.search-with-suggestions-w.active {
  display: block;
}

.search-with-suggestions-w .search-with-suggestions-modal {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
}

.search-with-suggestions-w .search-with-suggestions-modal .close-search-suggestions {
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 0px;
  cursor: pointer;
  padding: 2px;
  background-color: #e65252;
  color: #fff;
  line-height: 0.9;
  vertical-align: middle;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-with-suggestions-w .search-with-suggestions-modal .close-search-suggestions i {
  vertical-align: middle;
}

.search-with-suggestions-w .search-with-suggestions-modal .close-search-suggestions:hover {
  background-color: #b71b1b;
  color: #fff;
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search {
  position: relative;
  margin: 0px;
  margin-bottom: 30px;
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 6px;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.3);
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  padding: 8px 15px 8px 31px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #111;
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-with-suggestions-w .search-with-suggestions-modal .element-search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-with-suggestions-w .search-suggestions-group + .search-suggestions-group {
  margin-top: 20px;
}

.search-with-suggestions-w .search-suggestions-group:last-child .ssg-items {
  margin-bottom: 0px;
}

.search-with-suggestions-w .search-suggestions-group .ssg-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.search-with-suggestions-w .search-suggestions-group .ssg-header .ssg-icon {
  color: #047bf8;
  font-size: 20px;
  margin-right: 15px;
}

.search-with-suggestions-w .search-suggestions-group .ssg-header .ssg-name {
  color: #047bf8;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 0.99rem;
}

.search-with-suggestions-w .search-suggestions-group .ssg-header .ssg-info {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
}

.search-with-suggestions-w .ssg-content .ssg-nothing-found {
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 20px;
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

.search-with-suggestions-w .ssg-content .ssg-nothing-found .icon-w {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}

.search-with-suggestions-w .ssg-items {
  margin-bottom: 25px;
}

.search-with-suggestions-w .ssg-items .ssg-item .item-name span {
  background-color: #FFF0B7;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:hover {
  text-decoration: none;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:hover .item-icon,
.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:hover .item-media {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:hover .item-name {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #047bf8;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:nth-child(even) {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:last-child, .search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item:nth-last-child(2) {
  border-bottom: none;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item .item-icon {
  font-size: 20px;
  margin-bottom: 5px;
  color: #047bf8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item .item-media {
  height: 30px;
  width: 30px;
  margin: 0px auto;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-blocks .ssg-item .item-name {
  font-size: 0.8rem;
  text-decoration: underline;
  color: #3E4B5B;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 7px 0px;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item:hover {
  text-decoration: none;
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item:hover .item-media {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item:hover .item-name {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  color: #047bf8;
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item:last-child {
  border-bottom: none;
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item .item-media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-list .ssg-item .item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  color: #3E4B5B;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 8px;
  border: 1px solid #C4D1E1;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item:hover {
  text-decoration: none;
  border: 1px solid #a2b7d0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item:hover .item-name {
  color: #047bf8;
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item + .ssg-item {
  margin-top: 8px;
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item .item-media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  margin-right: 15px;
}

.search-with-suggestions-w .ssg-items.ssg-items-boxed .ssg-item .item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  color: #3E4B5B;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search-with-suggestions-w.over-search-field {
  position: absolute;
  width: 280px;
  z-index: 999;
  -webkit-transform: translate(-21px, -5px);
          transform: translate(-21px, -5px);
}

.search-with-suggestions-w.over-search-field .search-with-suggestions-modal {
  padding-top: 5px;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4);
}

.search-with-suggestions-w.screen-center {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.search-with-suggestions-w.screen-center .search-with-suggestions-modal {
  top: 15%;
  margin: 0px auto;
  width: 350px;
  position: relative;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
