<template> 

<ComponentSidebar></ComponentSidebar>
 
</template>

<script>

//import axios from 'axios'
import ComponentSidebar from './sidebar/sidebarmenu.vue'

export default {
  name: 'testsidebarmenu',
  components: {
    ComponentSidebar
  },
  // ...
}
</script>