<template> 

<ComponentTopmenu></ComponentTopmenu>
 
</template>

<script>

//import axios from 'axios'
import ComponentTopmenu from './Topbar/topmenu.vue'

export default {
  name: 'testtop',
  components: {
    ComponentTopmenu
  },
  // ...
}
</script>