/* Uesr avatar css */

 .logged-user-w 
 {
    position: relative;
    padding: 0px 1rem;
    border-bottom: none;
  }
  .logged-user-w .avatar-w 
  {
    padding: 0px;
    border: none;
    vertical-align: middle;
  }
  .logged-user-w .avatar-w img 
  {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }  
  .logged-user-w .logged-user-i 
  {
    position: relative;
    display: inline-block;
  }
  .logged-user-w .logged-user-i:hover 
  {
    cursor: pointer;
  }
  .logged-user-w .logged-user-i:hover .logged-user-menu 
  {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .logged-user-w .logged-user-menu 
  {
    background: #1b55e2;
    -webkit-box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
            box-shadow: 0 10px 30px 0 rgba(27, 30, 35, 0.27);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    visibility: hidden; 
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    border-radius: 6px;
  }
  .logged-user-w .logged-user-menu .logged-user-avatar-info 
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 10px;
    padding: 0px 30px 10px 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .logged-user-w .logged-user-menu .avatar-w 
  {
    border-color: #fff;
    vertical-align: middle;
    margin-right: 20px;
  }
  
  .logged-user-w .logged-user-menu .logged-user-info-w 
  {
    vertical-align: middle;
  }
  
  .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name 
  {
    color: #fff;
    white-space: nowrap;
  }
  
  .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role 
  {
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
  }
  
  .logged-user-w .logged-user-menu ul 
  {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0px;
  }
  
  .logged-user-w .logged-user-menu ul li 
  {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  .logged-user-w .logged-user-menu ul li a 
  {
    display: block;
    padding: 10px 20px;
    color: #fff;
  }
  
  .logged-user-w .logged-user-menu ul li a i 
  {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .logged-user-w .logged-user-menu ul li a span 
  {
    vertical-align: middle;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .logged-user-w .logged-user-menu ul li a:hover 
  {
    text-decoration: none;
  }
  
  .logged-user-w .logged-user-menu ul li a:hover i 
  {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  
  .logged-user-w .logged-user-menu ul li a:hover span 
  {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  
  .logged-user-w .logged-user-menu ul li:last-child 
  {
    border-bottom: none;
  }
  
  .logged-user-w .logged-user-menu .bg-icon 
  {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -40px;
    right: -20px;
  }