<template>
        <!--
        START - Mobile Menu
        -->
        <div class="sidebarmenu_main_div">
        <div class="menu-mobile menu-activated-on-click">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="index.html"><img src="../../assets/img/logo.png"><span>Clean Admin</span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w">
              <div class="avatar-w">
                <img alt="" src="../../assets/img/avatar1.jpg">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  Maria Gomez
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
            </div>
            <!--
            START - Mobile Menu List
            -->
            <ul class="main-menu">
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                  </div>
                  <span>Dashboard</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Dashboard 1</a>
                  </li>
                  <li>
                    <a href="#">Crypto Dashboard <strong class="badge badge-danger">Hot</strong></a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 4</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 5</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 6</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="layouts_menu_top_image.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-layers"></div>
                  </div>
                  <span>Menu Styles</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Side Menu Light</a>
                  </li>
                  <li>
                    <a href="#">Side Menu Dark</a>
                  </li>
                  <li>
                    <a href="#">Side Menu Transparent <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Side &amp; Top Dark</a>
                  </li>
                  <li>
                    <a href="#">Side &amp; Top</a>
                  </li>
                  <li>
                    <a href="#">Mini Side Menu</a>
                  </li>
                  <li>
                    <a href="#">Mini Menu Dark</a>
                  </li>
                  <li>
                    <a href="#">Compact Side Menu</a>
                  </li>
                  <li>
                    <a href="#">Compact Menu Dark</a>
                  </li>
                  <li>
                    <a href="#">Right Menu</a>
                  </li>
                  <li>
                    <a href="#">Top Menu Light</a>
                  </li>
                  <li>
                    <a href="#">Top Menu Dark</a>
                  </li>
                  <li>
                    <a href="#">Top Menu Image <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Sub Menu Flyout</a>
                  </li>
                  <li>
                    <a href="#">Sub Flyout Dark</a>
                  </li>
                  <li>
                    <a href="#">Sub Flyout Bright</a>
                  </li>
                  <li>
                    <a href="#">Menu Inside Click</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="apps_bank.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-package"></div>
                  </div>
                  <span>Applications</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Email Application</a>
                  </li>
                  <li>
                    <a href="#">Support Dashboard</a>
                  </li>
                  <li>
                    <a href="#">Tickets Index</a>
                  </li>
                  <li>
                    <a href="#">Crypto Dashboard <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Projects List</a>
                  </li>
                  <li>
                    <a href="#">Banking <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Chat Application</a>
                  </li>
                  <li>
                    <a href="#">To Do Application <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Popup Chat</a>
                  </li>
                  <li>
                    <a href="#">CRM Pipeline</a>
                  </li>
                  <li>
                    <a href="#">Property Listing <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Calendar</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-file-text"></div>
                  </div>
                  <span>Pages</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Invoice</a>
                  </li>
                  <li>
                    <a href="#">Property Listing <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Charts</a>
                  </li>
                  <li>
                    <a href="#">Login</a>
                  </li>
                  <li>
                    <a href="#">Register</a>
                  </li>
                  <li>
                    <a href="#">Lock Screen</a>
                  </li>
                  <li>
                    <a href="#">Pricing Plans</a>
                  </li>
                  <li>
                    <a href="#">Error 404</a>
                  </li>
                  <li>
                    <a href="#">Error 500</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-life-buoy"></div>
                  </div>
                  <span>UI Kit</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Modals <strong class="badge badge-danger">New</strong></a>
                  </li>
                  <li>
                    <a href="#">Alerts</a>
                  </li>
                  <li>
                    <a href="#">Grid</a>
                  </li>
                  <li>
                    <a href="#">Progress</a>
                  </li>
                  <li>
                    <a href="#">Popover</a>
                  </li>
                  <li>
                    <a href="#">Tooltips</a>
                  </li>
                  <li>
                    <a href="#">Buttons</a>
                  </li>
                  <li>
                    <a href="#">Dropdowns</a>
                  </li>
                  <li>
                    <a href="#">Typography</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-mail"></div>
                  </div>
                  <span>Emails</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Welcome Email</a>
                  </li>
                  <li>
                    <a href="#">Order Confirmation</a>
                  </li>
                  <li>
                    <a href="#">Payment Due</a>
                  </li>
                  <li>
                    <a href="#">Forgot Password</a>
                  </li>
                  <li>
                    <a href="#">Activate Account</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-users"></div>
                  </div>
                  <span>Users</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Big Profile</a>
                  </li>
                  <li>
                    <a href="#">Compact Profile</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-edit-32"></div>
                  </div>
                  <span>Forms</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Regular Forms</a>
                  </li>
                  <li>
                    <a href="#">Form Validation</a>
                  </li>
                  <li>
                    <a href="#">Form Wizard</a>
                  </li>
                  <li>
                    <a href="#">File Uploads</a>
                  </li>
                  <li>
                    <a href="#">Wisiwig Editor</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-grid"></div>
                  </div>
                  <span>Tables</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Regular Tables</a>
                  </li>
                  <li>
                    <a href="#">Data Tables</a>
                  </li>
                  <li>
                    <a href="#">Editable Tables</a>
                  </li>
                </ul>
              </li>
              <li class="has-sub-menu">
                <a href="#">
                  <div class="icon-w">
                    <div class="os-icon os-icon-zap"></div>
                  </div>
                  <span>Icons</span></a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Simple Line Icons</a>
                  </li>
                  <li>
                    <a href="#">Feather Icons</a>
                  </li>
                  <li>
                    <a href="#">Themefy Icons</a>
                  </li>
                  <li>
                    <a href="#">Picons Thin</a>
                  </li>
                  <li>
                    <a href="#">Dripicons</a>
                  </li>
                  <li>
                    <a href="#">Eightyshades</a>
                  </li>
                  <li>
                    <a href="#">Entypo</a>
                  </li>
                  <li>
                    <a href="#">Font Awesome</a>
                  </li>
                  <li>
                    <a href="#">Foundation Icon Font</a>
                  </li>
                  <li>
                    <a href="#">Metrize Icons</a>
                  </li>
                  <li>
                    <a href="#">Picons Social</a>
                  </li>
                  <li>
                    <a href="#">Batch Icons</a>
                  </li>
                  <li>
                    <a href="#">Dashicons</a>
                  </li>                 
                </ul>
              </li>
            </ul>
            <!--
            END - Mobile Menu List
            -->
            
          </div>
        </div>
        <!--
        END - Mobile Menu
        --><!--
        START - Main Menu
        -->
        <div class="menu-w  color-style-bright menu-position-side menu-side-left menu-layout-mini sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
          <div class="logo-w">
            <a class="logo" href="#">
              <div class="logo-element"></div>             
            </a>
          </div>
          <div class="logged-user-w avatar-inline">
            <div class="logged-user-i">
              <div class="avatar-w">
                <img alt="" src="../../assets/img/avatar1.jpg">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  Maria Gomez
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
              <div class="logged-user-toggler-arrow">
                <div class="os-icon os-icon-chevron-down"></div>
              </div>
              <div class="logged-user-menu color-style-bright">
                <div class="logged-user-avatar-info">
                  <div class="avatar-w">
                    <img alt="" src="../../assets/img/avatar1.jpg">
                  </div>
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      Maria Gomez
                    </div>
                    <div class="logged-user-role">
                      Administrator
                    </div>
                  </div>
                </div>
                <div class="bg-icon">
                  <i class="os-icon os-icon-wallet-loaded"></i>
                </div>
                <ul>
                  <li>
                    <a href="#"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <h1 class="menu-page-header">
            Page Header
          </h1>
          <ul class="main-menu">
            <li class="sub-header">
              <span>Layouts</span>
            </li>
            <li class="selected has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-layout"></div>
                </div>
                <span>Dashboard</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Dashboard
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-layout"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Dashboard 1</a>
                    </li>
                    <li>
                      <a href="#">Crypto Dashboard <strong class="badge badge-danger">Hot</strong></a>
                    </li>
                    <li>
                      <a href="#">Dashboard 3</a>
                    </li>
                    <li>
                      <a href="#">Dashboard 4</a>
                    </li>
                    <li>
                      <a href="#">Dashboard 5</a>
                    </li>
                    <li>
                      <a href="#">Dashboard 6</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-layers"></div>
                </div>
                <span>Menu Styles</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Menu Styles
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-layers"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Side Menu Light</a>
                    </li>
                    <li>
                      <a href="#">Side Menu Dark</a>
                    </li>
                    <li>
                      <a href="#">Side Menu Transparent <strong class="badge badge-danger">New</strong></a>
                    </li>
                    <li>
                      <a href="#">Side &amp; Top Dark</a>
                    </li>
                    <li>
                      <a href="#">Side &amp; Top</a>
                    </li>
                    <li>
                      <a href="#">Mini Side Menu</a>
                    </li>
                    </ul><ul class="sub-menu">
                    <li>
                      <a href="#">Mini Menu Dark</a>
                    </li>
                    <li>
                      <a href="#">Compact Side Menu</a>
                    </li>
                    <li>
                      <a href="#">Compact Menu Dark</a>
                    </li>
                    <li>
                      <a href="#">Right Menu</a>
                    </li>
                    <li>
                      <a href="#">Top Menu Light</a>
                    </li>
                    <li>
                      <a href="#">Top Menu Dark</a>
                    </li>
                    </ul><ul class="sub-menu">
                    <li>
                      <a href="#">Top Menu Image <strong class="badge badge-danger">New</strong></a>
                    </li>
                    <li>
                      <a href="#">Sub Menu Flyout</a>
                    </li>
                    <li>
                      <a href="#">Sub Flyout Dark</a>
                    </li>
                    <li>
                      <a href="#">Sub Flyout Bright</a>
                    </li>
                    <li>
                      <a href="#">Menu Inside Click</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="sub-header">
              <span>Options</span>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-package"></div>
                </div>
                <span>Applications</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Applications
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-package"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Email Application</a>
                    </li>
                    <li>
                      <a href="#">Support Dashboard</a>
                    </li>
                    <li>
                      <a href="#">Tickets Index</a>
                    </li>
                    <li>
                      <a href="#">Crypto Dashboard <strong class="badge badge-danger">New</strong></a>
                    </li>
                    <li>
                      <a href="#">Projects List</a>
                    </li>
                    <li>
                      <a href="#">Banking <strong class="badge badge-danger">New</strong></a>
                    </li>
                    </ul><ul class="sub-menu">
                    <li>
                      <a href="#">Chat Application</a>
                    </li>
                    <li>
                      <a href="#">To Do Application <strong class="badge badge-danger">New</strong></a>
                    </li>
                    <li>
                      <a href="#">Popup Chat</a>
                    </li>
                    <li>
                      <a href="#">CRM Pipeline</a>
                    </li>
                    <li>
                      <a href="#">Property Listing <strong class="badge badge-danger">New</strong></a>
                    </li>
                    <li>
                      <a href="#">Calendar</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-file-text"></div>
                </div>
                <span>Pages</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Pages
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-file-text"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Invoice</a>
                    </li>
                    <li>
                      <a href="#">Property Listing </a>
                    </li>
                    <li>
                      <a href="#">Charts</a>
                    </li>
                    <li>
                      <a href="#">Login</a>
                    </li>
                    <li>
                      <a href="#">Register</a>
                    </li>
                    </ul><ul class="sub-menu">
                    <li>
                      <a href="#">Lock Screen</a>
                    </li>
                    <li>
                      <a href="#">Pricing Plans</a>
                    </li>
                    <li>
                      <a href="#">Error 404</a>
                    </li>
                    <li>
                      <a href="#">Error 500</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-life-buoy"></div>
                </div>
                <span>UI Kit</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  UI Kit
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-life-buoy"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Modals</a>
                    </li>
                    <li>
                      <a href="#">Alerts</a>
                    </li>
                    <li>
                      <a href="#">Grid</a>
                    </li>
                    <li>
                      <a href="#">Progress</a>
                    </li>                   
                  </ul>
                </div>
              </div>
            </li>
            <li class="sub-header">
              <span>Elements</span>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-mail"></div>
                </div>
                <span>Emails</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Emails
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-mail"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Welcome Email</a>
                    </li>
                    <li>
                      <a href="#">Order Confirmation</a>
                    </li>
                    <li>
                      <a href="#">Payment Due</a>
                    </li>
                    <li>
                      <a href="#">Forgot Password</a>
                    </li>
                    <li>
                      <a href="#">Activate Account</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-users"></div>
                </div>
                <span>Users</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Users
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-users"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Big Profile</a>
                    </li>
                    <li>
                      <a href="#">Compact Profile</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-edit-32"></div>
                </div>
                <span>Forms</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Forms
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-edit-32"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Regular Forms</a>
                    </li>
                    <li>
                      <a href="#">Form Validation</a>
                    </li>
                    <li>
                      <a href="#">Form Wizard</a>
                    </li>
                    <li>
                      <a href="#">File Uploads</a>
                    </li>                   
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-grid"></div>
                </div>
                <span>Tables</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Tables
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-grid"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Regular Tables</a>
                    </li>
                    <li>
                      <a href="#">Data Tables</a>
                    </li>                   
                  </ul>
                </div>
              </div>
            </li>
            <li class=" has-sub-menu">
              <a href="#">
                <div class="icon-w">
                  <div class="os-icon os-icon-zap"></div>
                </div>
                <span>Icons</span></a>
              <div class="sub-menu-w">
                <div class="sub-menu-header">
                  Icons
                </div>
                <div class="sub-menu-icon">
                  <i class="os-icon os-icon-zap"></i>
                </div>
                <div class="sub-menu-i">
                  <ul class="sub-menu">
                    <li>
                      <a href="#">Simple Line Icons</a>
                    </li>
                    <li>
                      <a href="#">Feather Icons</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
         
        </div>
        
        </div>
        <!--
        END - Main Menu
        -->

    
</template>

<script>
export default {
    name:'sidebarmenu'
}
</script>

<style scoped>
.sidebarmenu_main_div
{
  background: #0f379d;
}
</style>


<style>
  @import './menu.css';
</style>
